.feed_search{
    background-color: blue;
    width: 100%;
    height: 57px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.feed_search input{
    background-color: blue;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 33%;
    margin-left: 63%;
}

input:focus{
    border-bottom: 2px solid #fff;
}

.feed_search .icon{
    position: relative;
    top: 11%;
}
input::placeholder{
    color: #fff;
    font-size: 12px;
    font-family: "Metropolis";
}

.search_note{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    height: 53px;
}

.search_note1{
    margin-left: 2%;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 500;
}
.search_note2{
    margin-right: 40%;
    font-size: 18px;
    font-family: 'Helvetica Neue';
font-style: italic;
font-weight: 500;
}
.feed_filters{
    margin-bottom: 35px;
    position: relative;
    left: 0;
    width: 118px;
}
.feed_tools{
    width: 96%;
    padding-left: 80px;
    height: 100vh;
    background-color:  #fafafa;
    position: absolute;
    z-index: -2 !important;

}
.box label{
    position: absolute;
    left: 23px;
}

.box{
    padding: 15px 0;
}

.feed_tools h3{
    font-size: 24px;
    font-family: "Helvetica Neue";
    font-weight: 700;
    padding-bottom: 10px;
}
.feed_tools h4{
    font-size: 18px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 12px;
}

.box input{
    position: absolute;
    right:54%;
}

.tools_selectors input{
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 12px;
    margin-top: 10px;
    width: 15%
}

.tools_selectors select{
    width: 16%;
    height: 40px;
    border-radius: 8px;
    font-size:18px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tools_selectors label{
    font-weight: 700;
    font-family: "Helvetica Neue";
}

.feed_page_text{
    display: flex;
    justify-content: space-between;
}

.story_holder{
    z-index: 500 !important;
    width: 65%;
    background-color: #fff;
    padding: 0px;
    position: relative;
    left: 30%;
    border-radius: 8px;
    transition: all 1s ease-in;
}

.story_holder:hover{
    box-shadow: 5px 4px 2px 1px rgba(0, 0, 255, .2);
}

.story_holder h6{
    color: blue;
    margin-bottom: -23px;
}
.story_holder h3{
margin-bottom: -5px;
}

.story_control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_control .icons{
height: 450x;
width: 50px;
border-radius: 50%;
padding: 10px;
margin: 10px;
color: #fff;
}

.download{
    background-color: blue;
}

.bookmark{
    background-color: #000;
}
.share{
    background-color: #B8B8B8;
}
.feed_page_text{
    position: relative;
}
.pagination{
    display: flex;
    position: absolute;
    left: 45%;
    bottom: 0;
    padding: 20px;
    cursor: pointer;
}

.pagination div{
    padding: 0 10px;
}

.pagination .bgBlue{
border: 1px solid blue;
width: 18px;
height: 18px;
padding-top: -0.2px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
background-color: blue;
border-radius: 2px;
}
