.Home_page{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.Home_page section{
    width: 38%;
}

.pulse {
    animation: pulse 3s infinite ease-in-out alternate;
  }
    

.home_graphics img{
    position: absolute;
    left: 63px;
}
.Home_page .home_text{
    position: absolute;
    left: 50%;
    top: 5em;
}

.home_text_head h3 {
    animation-name: slide-in;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  

article{
    margin-bottom: 2em;
    border-bottom: 1px solid #C4C4C4;;
}

input{
    width: 83%;
    border: 0;
    border-bottom: 2px solid blue;
    padding: 10px;
    font-size: 18px;
}

input::placeholder{
    font-size: 18px;
    font-size: 'Poppins';
    line-height: 27px;
}

input:focus{
    outline: 0;
}
.icon{
    position: absolute;
    top: 1em;
}

.home_actions{
    padding-bottom: 31px;
}

span{
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    font-family: 'Poppins';
    color:rgba(0, 0, 0, 0.5);
}

.home_dots{
    position: absolute;
    right: 0;
}
.firstdots{
    top: 90px;
}
.secondtdots{
    top: 266px;
}
.home_btn{
    color: blue;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.home_btn::after{
    content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: -220px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}

.home_btn:hover::after {
    cursor: pointer;
    transform: scaleX(0.15);
  }

.Home_statistic{
    width: 99%;
    background-color: blue;
    height: 82px;
    position: absolute;
    bottom: 70px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.stat{
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.stat_image{
    position: relative;
    top: -15px;
    right: -282px;
}
.stat span{
    position: relative;
    top: -10px;
    right: -282px;
    font-weight: 600;
}

@keyframes pulse {
    from { transform: scale(0.93); }
    to { transform: scale(1); }
  }


  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }