.dashboard_page {
  width: 100%;
}

.dash_board_header {
  box-sizing: border-box;
  border-bottom: 1px solid blue;
  width: auto;
}

.dash_board_header h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 20px;
}

.file_holder input {
  width: 74%;
  border: 1px solid #d4d4d8;
  border-radius: 4px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin: 20px 0;
}
.file_holder select {
  width: 80%;
  border: 1px solid #d4d4d8;
  border-radius: 4px;
  font-family: "Helvetica Neue";
  height: 38px;
  margin: 20px 0;
}

.file_holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 50px;
}

.file_holder label {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.file_holder1,
.file_holder2,
.file_holder3 {
  width: 25%;
}

.upload_tag{
    margin: -20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #000000;
    padding: 10px;
    width: 55%;
}

.upload_tag h3{
    font-size: 18px;
    font-weight: 700;
    font-family: "Helvetica";
}

.upload_tag strong{
    color: blue;
}

.upload_tag span{
    text-align: center;
}

.btn_holder{
    float: right;
    margin-top: 20px;
    margin-right: 20%;
}

.btn_holder :nth-child(1){
   border: 0;
   border-bottom: 1px solid black;
   background: transparent;
   font-size: 14px;
   margin: 20px;
   font-family: 'Roboto';
   transition: 1s ease;
}

.btn_holder :nth-child(1):hover{
    border: 0;
    color: blue;
    font-weight: 700;
}

.btn_holder :nth-child(2){
    border: 1px solid blue;
    background: blue;
    color: #fff;
    padding:  10px 30px;
    font-size: 14px;
    margin: 20px;
    font-family: 'Roboto';
    border-radius: 4px;
 }

 .btn_holder :nth-child(2):hover{
    background-color: rgb(18, 18, 100);
    color: #fff;
}

.btn_holder :nth-child(2):active{
transform: scale(0.98);
}